body {
  background-color: lightcoral;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: whitesmoke;
  font-weight: 600;
  text-align: center;
}

img {
  width: 300px;
  height: auto;
  border-radius: 50%;
}

.obsah {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

p {
  color: whitesmoke;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: grey;
}

a:hover {
  color: whitesmoke;
}
